<div class="row outer">
<div class="small-2 columns text-center toppart"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy top"></div>
  <div class="small-2 columns text-center happy top"></div>
  <div class="small-2 columns text-center happy top"></div>
  <div class="small-2 columns text-center happy top"></div>
  <div class="small-2 columns text-center end happy top"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy oneslot"></div>
  <div class="small-2 columns text-center happy twoslot"></div>
  <div class="small-2 columns text-center happy threeslot"></div>
  <div class="small-2 columns text-center happy fourslot"></div>
  <div class="small-2 columns text-center end happy fiveslot"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy oneslot"></div>
  <div class="small-2 columns text-center happy twoslot"></div>
  <div class="small-2 columns text-center happy threeslot"></div>
  <div class="small-2 columns text-center happy fourslot"></div>
  <div class="small-2 columns text-center end happy fiveslot"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy oneslot win"></div>
  <div class="small-2 columns text-center happy twoslot win"></div>
  <div class="small-2 columns text-center happy threeslot win"></div>
  <div class="small-2 columns text-center happy fourslot win"></div>
  <div class="small-2 columns text-center happy fiveslot win"></div>
  <div class="small-2 columns text-center dontbreak end">WIN HERE</div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy oneslot"></div>
  <div class="small-2 columns text-center happy twoslot"></div>
  <div class="small-2 columns text-center happy threeslot"></div>
  <div class="small-2 columns text-center happy fourslot"></div>
  <div class="small-2 columns text-center end happy fiveslot"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy oneslot"></div>
  <div class="small-2 columns text-center happy twoslot"></div>
  <div class="small-2 columns text-center happy threeslot"></div>
  <div class="small-2 columns text-center happy fourslot"></div>
  <div class="small-2 columns text-center end happy fiveslot"></div>
</div>
<div class="row outer">
  <div class="small-2 columns text-center happy bottom"></div>
  <div class="small-2 columns text-center happy bottom"></div>
  <div class="small-2 columns text-center happy bottom"></div>
  <div class="small-2 columns text-center happy bottom"></div>
  <div class="small-2 columns text-center end happy bottom"></div>
</div>
<div class="row">
  <div class="small-2 columns text-center"><button id='one' class="button round">1</button></div>
  <div class="small-2 columns text-center"><button id='two' class="button round">2</button></div>
  <div class="small-2 columns text-center"><button id='three' class="button round">3</button></div>
  <div class="small-2 columns text-center"><button id='four' class="button round">4</button></div>
  <div class="small-2 columns end text-center"><button id='five' class="button round">5</button></div>
</div>

<div class="row">
  <div class="small-10 columns text-center"><button class='button radius' id='reset'>Reset</button></div>
  <div id='next' class="small-10 columns text-center"><%= link_to "To the next level", puzzles_path %></div>
</div>
